/* Home component specific styles */
.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-float:nth-child(2) {
  animation-delay: 0.5s;
}

.animate-float:nth-child(3) {
  animation-delay: 1s;
}